/* FONT COLOR - MAIN COLOR */
/*======================================*/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
#page-title {
  color: #2b425b;
}
/* FONT COLOR - BODY COLOR */
/*======================================*/
body,
#content-container {
  color: #758697;
}
/* BACKGROUND COLOR - STATE ACTIVE  */
/*======================================*/
.searchbox .custom-search-form .input-group-btn:before,
.pace .pace-activity {
  background-color: #da6b1c;
}
/* BACKGROUND COLOR - BODY BACKGROUND */
/*======================================*/
body,
#content-container,
#navbar {
  background-color: #ecf0f5;
}
/* MIX COMPONENTS  */
::selection {
  background-color: #da6b1c;
  color: #fff;
}
::-moz-selection {
  background-color: #da6b1c;
  color: #fff;
}
/* CONTAINER */
/*======================================*/
#container.boxed-layout {
  background-color: #dfe5ee;
}
/* CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER) */
/*======================================*/
.cls-container {
  background-color: #ecf0f5;
}
.cls-container,
.cls-container a,
.cls-container a:hover,
.cls-container a:focus {
  color: #647484;
}
/* Boxed Layout */
/*======================================*/
@media (min-width: 1024px) {
  #container.boxed-layout,
  #container.boxed-layout.navbar-fixed #navbar {
    background-color: #70899a;
  }
}
/* Scrollbar */
/*======================================*/
.nano > .nano-pane > .nano-slider,
.pace .pace-progress {
  background-color: #007888;
}
.pace .pace-progress-inner {
  box-shadow: 0 0 10px #da6b1c, 0 0 5px #da6b1c;
}
/* NAVBAR
/*====================================*/
#navbar-container {
  box-shadow: 0 1px 2px 0 #d3dce8;
}
@media (min-width: 768px) {
  #navbar {
    background-color: transparent;
  }
}
.navbar-header {
  background-color: #da6b1c;
}
.navbar-content {
  background-color: #ffffff;
}
.navbar-aside-icon > i:before {
  background-color: #515151 !important;
  box-shadow: 0 0.45em 0 #515151, 0 0.9em 0 #515151 !important;
}
/* BRAND LOGO & TEXT
/*====================================*/
.navbar-brand {
  background-color: transparent;
  color: #2b425b;
}
.navbar-brand:hover,
.navbar-brand:focus {
  color: #2b425b;
}
/* NAVBAR ICON & BUTTON */
/*======================================*/
.navbar-icon-color,
.navbar-top-links > li > a:focus:not(.mainnav-toggle) > i,
.navbar-top-links > li > a:hover:not(.mainnav-toggle) > i {
  color: #494949;
}
.navbar-top-links > li > a {
  color: #515151;
}
.navbar-top-links > li > a:not(.mainnav-toggle) > i {
  color: #515151;
}
.navbar-top-links > li > a:hover {
  background-color: #f2f2f2;
  color: #494949;
}
.navbar-top-links > .open > a,
.navbar-top-links > .open > a:focus {
  background-color: #f2f2f2;
  color: #515151;
}
.navbar-top-links .tgl-menu-btn > a,
.navbar-top-links .tgl-menu-btn > a:hover,
.navbar-top-links .tgl-menu-btn > a:focus {
  color: #fff;
}
/* NAVBAR RESPONSIVE */
/*======================================*/
@media (min-width: 768px) {
  .navbar-header:before {
    background-color: #da6b1c;
  }
  #navbar-container {
    background-color: #ffffff;
  }
  #container.mainnav-in .brand-title,
  #container.mainnav-sm .brand-title,
  #container.mainnav-lg .brand-title {
    color: #fff;
  }
  .navbar-top-links .tgl-menu-btn > a,
  .navbar-top-links .tgl-menu-btn > a:hover,
  .navbar-top-links .tgl-menu-btn > a:focus {
    color: #515151;
  }
}
/* NAVIGATION */
/*======================================*/
#mainnav-container {
  box-shadow: 0 0 0 1px #d3dce8;
}
#mainnav {
  background-color: #ffffff;
}
#mainnav .list-header {
  color: #1e2e40;
}
/* PROFILE WIDGET */
/*======================================*/
.mainnav-profile,
.mainnav-profile .mnp-name,
.mainnav-profile .dropdown-caret,
.mainnav-profile .mnp-desc {
  color: #2b425b;
}
#mainnav .mainnav-profile .list-group {
  background-color: #f7f7f7;
}
#mainnav .mainnav-profile .list-group-item {
  color: #3f6085;
}
#mainnav .mainnav-profile .list-group-item:hover {
  color: #2b425b;
}
/* NAVIGATION MENU */
/*======================================*/
#mainnav-menu a {
  color: #3f6085;
}
#mainnav-menu > li > a:hover,
#mainnav-menu > li > a:active {
  color: #2b425b;
}
#mainnav-menu > li > a.hover {
  color: #2b425b;
  background-color: #ffffff;
  box-shadow: inset 2px 0 0 0 #da6b1c;
}
#mainnav-menu > .active-link > a,
#mainnav-menu > .active-link > a:hover {
  color: #2b425b;
  box-shadow: inset 2px 0 0 0 #da6b1c;
}
#mainnav-menu > .active-sub > a,
#mainnav-menu > .active-sub > a:hover {
  color: #2b425b;
}
#mainnav-menu > .active {
  background-color: #f7f7f7;
}
#mainnav-menu > .active .active {
  background-color: #f2f2f2;
}
#mainnav-menu ul a:hover,
.menu-popover .sub-menu ul a:hover,
#mainnav-menu ul ul a:hover,
.menu-popover .sub-menu ul ul a:hover,
#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
  color: #2b425b;
}
#mainnav-menu ul .active-link a,
.menu-popover .sub-menu ul .active-link a {
  box-shadow: inset 2px 0 0 0 #da6b1c;
}
#container.mainnav-sm #mainnav-menu > .active-link > a,
#container.mainnav-sm #mainnav-menu > .active-sub > a,
#container.mainnav-sm #mainnav-menu > .active-link a:hover,
#container.mainnav-sm #mainnav-menu > .active-sub a:hover {
  background-color: #da6b1c;
  box-shadow: none;
}
/* NAVIGATION - SHORTCUT BUTTONS */
/*======================================*/
#mainnav-shortcut .shortcut-grid {
  color: #2b425b;
}
/* NAVIGATION - WIDGET */
/*======================================*/
.mainnav-widget {
  color: #3f6085;
}
/* NAVIGATION - COLLAPSING  */
/*======================================*/
@media (min-width: 768px) {
  #container.mainnav-sm .shortcut-grid:hover {
    box-shadow: inset 2px 0 0 0 #da6b1c;
  }
  #container.mainnav-sm .shortcut-grid:hover,
  #container.mainnav-sm .popover.mainnav-shortcut {
    background-color: #ffffff;
    color: #2b425b;
  }
  #container.mainnav-sm #mainnav-menu a:hover {
    box-shadow: inset 2px 0 0 0 #da6b1c;
  }
  #container.mainnav-sm #mainnav-menu .active-link > a,
  #container.mainnav-sm #mainnav-menu .active-sub > a {
    color: #fff;
  }
  #container.mainnav-sm #mainnav {
    position: relative;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a {
    color: #3f6085;
  }
  #container.mainnav-sm #mainnav .mainnav-widget > .show-small a:hover {
    color: #2b425b;
    box-shadow: inset 2px 0 0 0 #da6b1c;
  }
  #container.mainnav-sm #mainnav .mainnav-widget .hover {
    color: #2b425b;
    background-color: #ffffff;
  }
  .menu-popover .sub-menu ul {
    background-color: #f7f7f7;
  }
  .menu-popover .sub-menu ul ul {
    background-color: #f2f2f2;
  }
  .menu-popover .sub-menu ul ul > li > a:hover {
    color: #2b425b;
  }
  .menu-popover .sub-menu ul a:hover {
    color: #2b425b;
  }
  .menu-popover .sub-menu ul li > a {
    color: #3f6085;
  }
  .menu-popover .single-content {
    color: #2b425b;
    background-color: #ffffff;
  }
  .menu-popover.popover {
    background-color: #fafafa;
    color: #2b425b;
  }
  .menu-popover > .popover-title {
    background-color: #ffffff;
    color: #2b425b;
  }
  .menu-popover .mainnav-widget-content {
    background-color: #ffffff;
  }
}
.mainnav-sm .popover.mainnav-shortcut {
  background-color: #fafafa;
  color: #2b425b;
}
/* NAVIGATION - OFFCANVAS */
/*======================================*/
@media (min-width: 768px) {
  #container.mainnav-in.easeInBack:not(.boxed-layout) #mainnav-container {
    box-shadow: -20px 0 0 0 #ffffff;
  }
  #container.mainnav-out .brand-title {
    color: #fff;
  }
}
/* ASIDE */
/* ===================================== */
#container #aside .list-link li a:not(.btn) {
  color: #d1d1d1;
}
#container #aside .list-link li a:not(.btn):hover {
  color: #fff;
}
#container #aside .badge-stat {
  color: #3A3F46;
}
#container #aside .text-main {
  color: #fff;
}
#aside {
  background-color: #3A3F46;
  color: #fff;
}
#aside .bord-all,
#aside .bord-top,
#aside .bord-btm,
#aside .bord-left,
#aside .bord-rgt,
#aside .bord-hor,
#aside .bord-ver,
#aside .list-divider {
  border-color: #41474e;
}
#aside .btn-link {
  color: #fff;
}
#aside .text-muted {
  color: #9098a3;
}
/* Aside with tabs */
/* ===================================== */
#aside-container #aside .nav-tabs li {
  border-bottom: 1px solid #2e3238;
}
#aside-container #aside .nav-tabs li > a {
  background-color: #3A3F46;
}
#aside-container #aside .nav-tabs li > a:before {
  background: #da6b1c;
}
#aside-container #aside .nav-tabs .active a:before {
  background: #da6b1c;
}
#container.aside-bright #aside .nav-tabs li {
  border-bottom: 1px solid #f2f2f2;
}
#container.aside-bright #aside .nav-tabs li > a {
  background-color: #fff;
}
/* ASIDE : BRIGHT COLOR THEMES */
/* ===================================== */
#container.aside-bright #aside {
  background-color: #fff;
  color: #758697;
  border: 1px solid #dbe3ec;
}
#container.aside-bright #aside .badge-stat {
  color: #fff;
}
#container.aside-bright #aside .text-main {
  color: #2b425b;
}
#container.aside-bright #aside .text-light {
  color: #758697;
}
#container.aside-bright #aside hr {
  border-color: #e9e9e9;
}
#container.aside-bright #aside .bord-all,
#container.aside-bright #aside .bord-top,
#container.aside-bright #aside .bord-btm,
#container.aside-bright #aside .bord-lft,
#container.aside-bright #aside .bord-rgt,
#container.aside-bright #aside .bord-hor,
#container.aside-bright #aside .bord-ver,
#container.aside-bright #aside .list-divider {
  border-color: #d3dce8;
}
#container.aside-bright #aside .text-muted {
  color: #afb9c3;
}
#container.aside-bright #aside .progress {
  background-color: #e6e6e6;
}
#container.aside-bright #aside .list-link li a:not(.btn) {
  color: #8493a2;
}
#container.aside-bright #aside .list-link li a:not(.btn):hover {
  color: #758697;
}
#container.aside-bright #aside a:not(.btn) {
  color: #758697;
}
#container.aside-bright #aside a:not(.btn):hover,
#container.aside-bright #aside a:not(.btn):focus {
  color: #5d6d7c;
}
#container.aside-bright #aside .btn-link {
  color: #758697;
}
/* FOOTER */
/*======================================*/
#footer {
  background-color: #f3f5f9;
  color: #758697;
}
/* MEGAMENU */
/*======================================*/
.open.mega-dropdown > .mega-dropdown-toggle:before {
  border-bottom: 7px solid #d0d0d0;
}
.open.mega-dropdown > .mega-dropdown-toggle:after {
  border-bottom: 7px solid #fff;
}
/* TIMELINE */
/*======================================*/
.timeline {
  background-color: #ecf0f5;
  color: #758697;
}
.timeline:before,
.timeline:after {
  background-color: #bec6ce;
}
.timeline:after {
  border: 1px solid #bec6ce;
  background-color: #ecf0f5;
}
.timeline-time {
  background-color: #ecf0f5;
  color: #758697;
}
.timeline-icon:not([class*="bg-"]) {
  background-color: #ecf0f5;
}
.timeline-icon:empty {
  border: 2px solid #bec6ce;
}
.timeline-label {
  background-color: #fff;
  border: 1px solid #e7ecf3;
}
.timeline-label:before {
  border-right: 10px solid #e6e6e6;
}
.timeline-label:after {
  border-right: 9px solid #fff;
}
.panel .timeline,
.panel .timeline:after,
.panel .timeline-time,
.panel .timeline-label,
.panel .timeline-icon:not([class^="bg-"]):not([class*=" bg-"]) {
  background-color: #fff;
}
.panel .timeline-label {
  background-color: #f3f5f9;
}
.panel .timeline-label:before {
  border-right-color: #e3e3e3;
}
.panel .timeline-label:after {
  border-right-color: #f3f5f9;
}
@media (min-width: 768px) {
  .two-column.timeline .timeline-entry:nth-child(even) .timeline-label:before {
    border-left: 10px solid #e6e6e6;
  }
  .two-column.timeline .timeline-entry:nth-child(even) .timeline-label:after {
    border-left: 9px solid #fff;
  }
}
/* TAGS */
/*======================================*/
.tag:not(.label) {
  background-color: #fff;
  border: 1px solid #d1d9de;
}
/* EMAIL */
/*======================================*/
.mail-time {
  color: #afb9c3;
}
/* COLORS */
/*======================================*/
.mail-list > li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}
.mail-list > li:hover {
  background-color: rgba(0, 0, 0, 0.075);
}
.mail-list > li.highlight {
  background-color: #f2f0c2;
}
.mail-list a,
.mail-list a:focus {
  display: inline-block;
  color: #758697;
}
.mail-star > a,
.mail-star > a:focus {
  color: #d3d7da;
}
.mail-starred .mail-star > a {
  color: #ffa100;
}
.mail-list .mail-star > a:hover {
  color: #ffbd4d;
}
.mail-attach-list > li .mail-file-img,
.mail-attach-list > li .mail-file-icon {
  background-color: #f5f6f8;
}
/* FORM WIZARD */
/*======================================*/
.wz-icon-bw li.active ~ li > a .icon-wrap {
  color: #758697;
}
.wz-icon-bw li:not(.active) > a p {
  color: #758697 !important;
}
/* SCROLL TO TOP BUTTON */
/*======================================*/
#scroll-top {
  display: none;
}
#scroll-top.in {
  background-color: #404449;
  color: #fff;
}
.alert-primary .alert-icon {
  color: #fff;
}
.alert-info .alert-icon {
  color: #fff;
}
.alert-success .alert-icon {
  color: #fff;
}
.alert-warning .alert-icon {
  color: #fff;
}
.alert-danger .alert-icon {
  color: #fff;
}
.alert-mint .alert-icon {
  color: #fff;
}
.alert-purple .alert-icon {
  color: #fff;
}
.alert-pink .alert-icon {
  color: #fff;
}
.alert-dark .alert-icon {
  color: #fff;
}
/* NIFTY PURE CSS SELECT COMPONENT */
/*======================================*/
.select:before {
  border-top-color: #afb9c3;
}
.select select:focus {
  border-color: #da6b1c;
}
.pci-hor-dots:before,
.pci-ver-dots:before {
  background-color: #758697;
  box-shadow: 0 0.45em 0 #758697, 0 0.9em 0 #758697;
}
/* BREADCRUMB */
/*======================================*/
.breadcrumb li,
.breadcrumb li a {
  color: #afb9c3;
}
/* FORM CONTROL  */
/*======================================*/
.form-control:focus {
  border-color: #da6b1c;
}
/* LIST GROUP */
/*======================================*/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #da6b1c;
  border-color: #da6b1c;
  color: #fff;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
  color: #fff;
}
/* DROPDOWN */
/*======================================*/
.dropdown-menu > li > a:hover {
  background-color: #da6b1c;
  color: #fff;
}
/*======================================*/
/* PAGER */
/*======================================*/
.pager li > a:hover,
.pager li > a:focus {
  background-color: #fff;
  border-color: #da6b1c;
  color: #da6b1c;
  box-shadow: inset 0 0 1px #da6b1c;
  z-index: 2;
}
/*======================================*/
/* PAGINATION */
/*======================================*/
.pagination > li a:hover,
.pagination > li a:focus {
  border-color: #da6b1c;
  color: #da6b1c;
  box-shadow: inset 0 0 1px #da6b1c;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #da6b1c;
  border-color: #da6b1c;
}
/* TAB */
/*======================================*/
.tab-base .tab-content .tab-footer {
  background-color: #f6f8fa;
  color: #758697;
  border-color: #eff3f7;
}
.tab-base .nav-tabs > li:not(.active) > a:hover {
  border-color: #da6b1c;
}
.tab-stacked-left.tab-base .nav-tabs > li:not(.active) a:hover {
  border-color: #da6b1c;
  border-right-color: transparent;
}
.tab-stacked-right.tab-base .nav-tabs > li:not(.active) a:hover {
  border-color: #da6b1c;
  border-left-color: transparent;
}
/* BUTTONS */
/*======================================*/
.btn-trans {
  color: #afb9c3;
}
/* PANELS */
/*======================================*/
.panel-footer {
  background-color: #f6f8fa;
  color: #758697;
  border-color: #eff3f7;
  position: relative;
}
/* SCROLL TO TOP BUTTON */
/*======================================*/
.scroll-top.in {
  background-color: #da6b1c;
  color: #fff;
}
