.breadcrumb>li+li:before {
	content: "/" !important;
}
.panel-actions {
	padding-top: 20px;
	padding-right: 20px;
}

.panel-btn {
	margin-top: 10px;
	color: white !important;
}

.control-label {
	text-align: left !important;
	color: black !important;
}

.required_color {
	color: red;
}

.required_fields {
	font-size: 12px;
    font-weight: normal;
}

.navbar-header {
	 background-color: #ffffff;
}

.navbar-header:before {
	background-color: #ffffff !important;
}

#container:not(.mainnav-sm) #mainnav-menu-wrap>.nano>.nano-content {
	padding-top: 0px;
}

#container:not(.mainnav-sm) #mainnav-menu {
	 margin-top: 0px;
}

#page-content {
	padding: 0px 21px 0px;
}

.breadcrumb li, .breadcrumb li a {
	color: #2b425b;
	font-weight: 600;
}

.btn{
	text-transform: uppercase;
	font-weight: 600;
}

.tab-base .nav-tabs>li:not(.active)>a {
    border-color: rgb(211, 220, 232);
}

td {
    color: #000000;
}

.form-horizontal {
	padding: 0px 8px !important;
}

.poll-option-ul {
	display: flex;
	padding: 0px;
}

.poll-option-ul li {
	align-items: center;
	display: flex;
	list-style-type: none;
	float: left;
	margin-right: 25px;
	font-weight: bold;
}

.poll-option-ul li>i {
	color: #bbbbbb;
	font-size: 17px;
	margin-right: 5px;
}

.poll-option-ul li>i.fa-check-circle {
	color: #68c100;
}